html {
  	box-sizing: border-box;
  	font-size: 100%;
  	user-select: none;
}

*, *:before, *:after {
  	box-sizing: inherit;
}

body {
	font-family: Arial, Helvetica, Sans Serif;
	background-color: #efeff4;
	margin: 1rem;
	padding: 0;
}

hr {
	margin: 0.5rem 0 1rem auto;
}

a {
	text-decoration: none;
	color: #007aff;
}

.conteiner {
	display: grid;
	grid-gap: 1.5rem;
}

.header {
	color: #6fb316;
	font-weight: bold;
}

#first-page_0 .speed {
	background-color: #70603E;
}

#first-page_1 .speed, #first-page_3 .speed {
	background-color: #0075D9;
}

#first-page_2 .speed, #first-page_4 .speed {
	background-color: #EE4700;
}

.first-page, .second-page, .third-page {
	background-color: #fff;
	border: 0.05rem solid #c8c7cc; 
	padding: 1.5rem;
	padding-right: 0;
	transition: 0.2s box-shadow;
	display: grid;	
}
	.first-page:hover {
		box-shadow: 0 0.3rem 0.8rem rgba(0,100,0, 0.4);
		cursor: pointer;
	}

	.first-page__section {
		min-height: 7rem;
	}

		.speed {
			margin-left: -1.5rem;
			padding: 0.5rem;
			padding-left: 1.5rem;
			color: white;
			font-weight: bold;
		}

		.min-max-price {
			margin: 1rem 0 0.5rem 0;
			font-weight: bold;
		}

.second-page {	
	display: none;	
}
	.one-time-payment {
		margin-top: 1rem;
	}

	.second-page:hover {
		box-shadow: 0 0.3rem 0.8rem rgba(0,100,0, 0.4);
		cursor: pointer;
	}

.third-page {
	display: none;
}
	.opacity-text {
		opacity: 0.66;
		margin-top: 0.5rem;
	}

.main-button {
	background-color: #f7f7f8;
	border: 0.05rem solid #c8c7cc;
	padding: 0.8rem;
	display: none;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
	transition: 0.2s box-shadow, 0.2s color;
}	
	.main-button:hover {
		color: #6fb316;
		box-shadow: 0 0.3rem 0.8rem rgba(0,100,0, 0.4);
		cursor: pointer;
	}

	.main-button:active {
		box-shadow: 0 0.1rem 0.4rem rgba(0,100,0, 0.4);
	}

	.main-button__select {
		display: none;
	}

.arrow-left {
	box-sizing: content-box;
  	border: 0.15rem solid;
  	height: 0.8rem;
 	width: 0.8rem;
  	border-color: #9acd32 transparent transparent #9acd32;
  	transform: rotate(-45deg);
  	float: left;  	
}

.arrow-right {
	box-sizing: content-box;
  	border: 0.1rem solid;
  	height: 0.5rem;
  	width: 0.5rem;
  	border-color: grey transparent transparent grey;
  	transform: rotate(135deg);
  	float: right;
  	margin: 0.5rem;
}

.button-select {
	background-color: #6fb316;
	padding: 0.5rem;
	font-weight: 600;
	text-align: center;
	color: white;
	margin-right: 1.5rem;
	transition: 0.2s background-color;
}
	.button-select:hover {
		background-color: green;
	}

@media only screen and (max-width: 640px) {
	html {
		font-size: 120%;
	}

	.conteiner {
		grid-template-columns: 1fr;
	}

	.main-button, .third-page {
		grid-column: 1/2;
	}
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
	html {
		font-size: 110%;
	}

	.conteiner {
		grid-template-columns: 1fr 1fr;
	}

	.main-button, .third-page {
		grid-column: 1/3;
		text-align: center;
		padding-right: 1.5rem;
	}
	.button-select {
		margin-right: 0;
	}
}

@media only screen and (min-width: 1024px) {
	.conteiner {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.main-button {
	grid-column: 1/4;
	}

	.third-page {
		grid-column: 1/4;
		text-align: center;
		padding-right: 1.5rem;
	}

	.button-select {
		margin-right: 0;
	}
}