h2, h3 {

	color: yellowgreen;
}

hr {
	text-align: right; 
	margin: 0 0 0 auto;
	width: 95%;
}

.second-page {

	display: none;
	border: 3px double green; 
	width: 250px;
	margin: 10px;
	margin-right: 0px;
	padding: 15px;
	padding-right: 0px;
	position: static;
	float: left;
}

.first-page {
	border: 3px double green; 
	width: 250px;
	margin: 10px;
	margin-right: 0px;
	padding: 15px;
	padding-right: 0px;
	display: inline-block;
	position: static;
}

article {

	height: 150px;
}

.button {
	width: 250px;
	border: 2px outset green; 
	margin: 10px;
	padding: 9px;
	display: none;
}
.arrow-back {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: green;
	border-left: 0;
	float: left;
}

.arrow-forward {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: green;
	border-right: : 0;
	float: right;
}

div[type = "button"]{
	background-color: yellowgreen;
	margin-right: 10px;
	padding: 5px;
	text-align: center;
	color: white;
}

.opac {
	opacity: .66;
} 

.choT {
	display: none;
}

.speed {
	margin: 5px;
	padding: 5px;
	padding-top: 0px;
}