.header {
	color: yellowgreen;
}

hr {
	text-align: right; 
	margin: 5px 0px 10px auto;
	width: 95%;
}

.first-page {
	border: 2px solid green; 
	width: 250px;
	margin: 10px;
	margin-right: 0px;
	padding: 15px;
	padding-right: 0px;
	display: inline-block;
	position: static;
}

.second-page {
	display: none;
	border: 2px solid green; 
	width: 250px;
	min-height: 140px;
	margin: 10px;
	margin-right: 0px;
	padding: 15px;
	padding-right: 0px;
	position: static;
	float: left;
}

.article {
	height: 100px;
}

.button {
	width: 250px;
	border: 2px outset green; 
	margin: 10px;
	padding: 9px;
	display: none;
}
.arrow-back {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: green;
	border-left: 0;
	float: left;
}

.arrow-forward {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: green;
	border-right: : 0;
	float: right;
}

div[type = "button"]{
	background-color: yellowgreen;
	margin-right: 10px;
	padding: 5px;
	text-align: center;
	color: white;
}

.opac {
	opacity: .66;
} 

.choT {
	display: none;
}

.speed {
	margin: 5px;
	padding: 5px;
	color: white;
}

.free-options {
	margin: 10px;
}

@media only screen and (max-width: 640px) {
	div.conteiner {
		width: 300px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
	div.conteiner {
		width: 600px;
	}
}

@media only screen and (min-width: 1024px) {
	div.conteiner {
		width: 900px;
	}
}